# Git Ignore File
# This file tells git what kind of files to ignore in commits

# Project-Specific
scrap/
build/

# General 
.dropbox
*.sublime-*workspace
*.sublime-project
*.DS_Store
._*
.Spotlight-V100
.Trashes
*.db
*.command
*.sh
Icon

# General Filetypes
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.tar.gz

# Compiled Source
*.com
*.class
*.dll
*.exe
*.o
*.so