# Git Ignore File
# This file tells git what kind of files to ignore in commits

# OSX File Types
scrap/

# OSX File Types
.dropbox
*.DS_Store
._*
.Spotlight-V100
*.sublime-workspace
*.sublime-project
.Trashes
ehthumbs.db
Thumbs.db
Icon

# General Filetypes
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.tar.gz

# Compiled Source
*.com
*.class
*.dll
*.exe
*.o
*.so