html, body, body > svg, body > div {
   position: fixed;
   margin:0; padding:0; height:100%; width:100%; overflow:hidden;
}

body > div {
   pointer-events: none;
}

svg circle, svg g text {
   cursor: move;
}

svg g.node text{
    fill: white; 
}

svg g.node circle {
   fill:#0097A7;
   stroke: #004D40;
   stroke-width: 0px;
}

svg line.link {
   cursor: move;
   stroke: #B2EBF2;
   stroke-width: 75px;
   stroke-linecap: round;
}

svg line.join {
   stroke: #A2DBE2;
   stroke-width: 75px;
   stroke-linecap: round;
}

svg line.breaking {
   visibility: hidden;
}

#control_div {
    position: fixed;
    text-align: center;
    bottom: 0;
}

#shuffle_button {
    position: fixed;
    text-align: center;
    bottom: 5%;
    height: 80px;
    width: 200px;
    font: 28px Cabin;
    background-color: #00838F;
    color: white;    
    border-radius: 4px;
    border-width: 0px;
    pointer-events: all;
}

#shuffle_button:hover{
    background-color: #84FFFF;
    text: black;
}

