body, html {
  font: 28px Cabin;
  width: 100%;
  height: 100%;
}
table {
    margin: auto;
    width: 60%;
    border-collapse: collapse;
}
table td.student_name {
    width: 20%;
}
table td {
    width: 38%;
    vertical-align: top;
    border: 1px solid #FBE9E7 ;
    padding: 2px 2px;
    background: #444444; 
    color: white; 
}
table th {
    font-weight: normal;
    font-size: 22px;
}

table td.remove {
    width: 4%;
    vertical-align: middle;
    text-align: center;
}

table td.remove:before {
    font-family: FontAwesome;
    content: '\f014';
}

table td .fa.fa-grip:before {
    font-family: FontAwesome;
    font-size: 12px;
    content: "\f142 \202F \f142 \202F \f142";
    color: white;
    padding-right: 10px;
}

table td p {
    display: inline-block;
    border: 1px solid;
    border-radius: 5px;
    padding: 3px 7px;
    margin: 1px 3px;
    background: #00838F; 
    color: white;
    white-space: nowrap;
}

table td p span:after {
    font-family: FontAwesome;
    content: ' \f00d';
}

table td p span:hover {
    color: red;
}

table td textarea {
    width: 100%;
    font: 18px Cabin;
}

#control_div {
text-align:center;
margin:auto;
}

#groupem_button {
    position: fixed;
    text-align: center;
    bottom: 5%;
    height: 80px;
    width: 200px;
    font: 28px Cabin;
    background-color: #00838F;
    color: white;    
    border-radius: 4px;
    border-width: 0px;
    pointer-events: all;
}

#groupem_button:hover{
    background-color: #84FFFF;
    text: black;
}

