/**
 * Color Palette 
 * SublimeText users: get Color Highlighter to see these inline
 *
 * users: #60BADF
 * prefer: #6AD5A2
 * avoid: #F39354;
 * background: #4C5365;
 * background (active): #6E7891;
 * greyed out text: #A9A9A9;
 * shadow for drag: #939085
 * input-field active: #f9efec
 * hover background: #FED587;
 * hover text: #F39354
 *
 * used colors for other things:
 * #DFB0EA
 * #818AAA
 *
 */

body{
  margin: 0px;
  color: white;
  font-family: 'Raleway';
  background-color: white;
}

.content {
  width: 70%;
  height: 100%;
  float: left;
}

.sidebar {
  width: 10%;
  height: 100%;
  float: left;
  min-width: 230px;
  max-width: 300px;
  background: #4C5365; 
}

#pinbutton {
 visibility: hidden;
 color: white; 
}

#logo_container {
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 0%;
  margin: 0px;
  padding: 0px;
}

#logo_link:link, #logo_link:visited, #logo_link:active, #logo_link:hover{
  text-decoration: none;
}

#logo_icon:before {
    font-family: FontAwesome;
    font-size: 60pt;
    padding: 10%;
    content: '\f0c0';
    border-radius: 50%;
    height: 50%;
    color: #60BADF; 
    background: white;
    text-align: left;
}

#logo_name:before {
  display:inline-block;
  font-size: 26px;
  height: 20%;
  margin-top: 15%;
  content: "group'em";
  color: white;
}

#link_to_table_view:before{
  font-family: FontAwesome;
  font-size: 18px;
  content: '\f0ce\00a0\00a0';
  text-align: left;
}

#link_to_table_view:after{
  font-size: 20px;
  content: 'student list';
  text-align: right;
}

#link_to_group_view:before{
  font-family: FontAwesome;
  font-size: 18px;
  content: '\f0c0\00a0\00a0';
  text-align: left;
}

#link_to_group_view:after{
  font-size: 20px;
  content: 'view groups';
  text-align: right;
}


/* Custom CSS Styles */
#cssmenu {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 1;
  pointer-events: all; 
  width: 230px;
  background: #4C5365; 
  font-family: 'Raleway';
  zoom: 1;
  font-size: 18px;
}

#cssmenu a {
  display: block;
  padding: 15px 20px;
  color: #4C5365;
  text-decoration: none;
  text-transform: lowercase;
}

#cssmenu:before {
  content: '';
  display: block;
}

#cssmenu:after {
  content: '';
  display: table;
  clear: both;
}

#cssmenu ul, 
#cssmenu ul li,
#cssmenu ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 230px;
}

#cssmenu ul {
  position: relative;
  z-index: 597;
  float: left;
}
#cssmenu ul li {
  float: left;
  min-height: 1px;
  line-height: 1em;
  vertical-align: middle;
  position: relative;
}
#cssmenu ul li.hover,
#cssmenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
#cssmenu ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 598;
  width: 100%;
  top: 1px;
  left: 99%;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  width: 230px;
  border: 1px solid #0082e7;
}

#cssmenu ul ul li {
  float: none;
}
#cssmenu ul ul ul {
  top: -2px;
  right: 0;
}
#teachermode_text {
  padding-right: 5%;
  padding-left: 20px;
}
#cssmenu ul li:hover > ul {
  visibility: visible;
}
#cssmenu ul li {
  float: none;
}
#cssmenu ul ul {
  margin-top: 1px;
}
#cssmenu ul ul li {
  font-weight: normal;
}

#cssmenu > ul > li > a {
  border-right: 4px solid #4C5365;
  color: white;
}

#cssmenu > ul > li > a:hover {
  background: #4C5365;
}

#cssmenu > ul > li.active a {
  background:  #6e7891;  
}

#cssmenu > ul > li a:hover,
#cssmenu > ul > li:hover a {
  background: #FED587;  
  color: reblud;
}
#cssmenu li {
  position: relative;
}
#cssmenu ul li.has-sub > a:after {
  content: '+';
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -6px;
}
#cssmenu ul ul li.first {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}
#cssmenu ul ul li.last {
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
  border-bottom: 0;
}

#cssmenu ul ul a {
  font-size: 12px;
  color: #ffffff;
}
#cssmenu ul ul a:hover {
  color: #ffffff;
}
#cssmenu ul ul li {
  border-bottom: 1px solid #0082e7;
}
#cssmenu ul ul li:hover > a {
  background: #4eb1ff;
  color: #ffffff;
}

#cssmenu.align-right > ul > li > a {
  border-left: 4px solid #1b9bff;
  border-right: none;
}

#cssmenu.align-right {
  float: right;
}
#cssmenu.align-right li {
  text-align: right;
}
#cssmenu.align-right ul li.has-sub > a:before {
  content: '+';
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -6px;
}
#cssmenu.align-right ul li.has-sub > a:after {
  content: none;
}
#cssmenu.align-right ul ul {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 598;
  width: 100%;
}

#cssmenu.align-right ul ul li.first {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}
#cssmenu.align-right ul ul li.last {
  -webkit-border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
}
#cssmenu.align-right ul ul {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
