body, html {
  font: 28px;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 100%;
}


/**/
table {
    margin: auto;
    width: 80%;
    border-collapse: collapse;
    border-left: 1px solid #BCB8AD;
    border-right: 1px solid #BCB8AD;
    border-bottom: 1px solid #BCB8AD;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

/*TABLE HEADERS*/
table th {
    text-align: center;
    content-align: center;
    font-weight: bold;
    font-size: 28px;
    text-transform: lowercase;
    white-space: nowrap;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

table th:hover {
    cursor: default;
}

table th.student_name {
    width: 30%;
    color: #60BADF;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom: 1px solid #BCB8AD;
    padding-bottom: 0px;
}

table th.pair_with {
    width: 25%;
    color: #6AD5A2;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom: 1px solid #BCB8AD;
    padding-bottom: 0px;
}

table th.dont_pair_with  {
    width: 25%;
    color: #F39354;
    font-weight: bold;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom: 1px solid #BCB8AD;
}

table th.remove {
    width: 12%;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom: 1px solid #BCB8AD;
}

/*TABLE ROWS */
table tr {
    height: 8ex;
}

/*TABLE CELLS*/
table td {
    width: 38%;
    vertical-align: top;
    border: 1px solid #BCB8AD;
    padding: 2px 2px;
    background: #F9F7F1;
    color: #00838F;
}

table td.student_name {
    width: 30%;
    text-align: center;
    vertical-align: middle;
}

table td.remove {
    width: 12%;
    font-size:18px;
    vertical-align: middle;
    text-align: center;
/*    background: #F39354;
    background: #DBD8D3;
    background: #f4efe1;
    background: #F47D31;
    background: #DDDDDA;
    background: #F39354;
    background: #D0CEC8;
    background: #DBD9D3;
    background: #f2eee3;*/
    background: #EAE6DB;
    color: #FED587;
    color: white;
    color: #3F3C36;
    /*background: #4C5365;
    color: #FED587;*/
}

table td.remove:hover {
    color: #F39354;
    background: #FED587;
    cursor: pointer;
}

table td.remove:before {
    font-family: FontAwesome;
    font-size: 18px;
    content: '\f014';
}

/*TILES */
table td p .fa-grip:before {
    font-family: FontAwesome;
    font-size: 13px;
    /*content: "\f142 \202F \f142 \202F \f142";*/
    color: white;
    padding-right: 8px;
    cursor: -webkit-grab;
    cursor: grab;
}

table td p {
    display: inline-block;
    border: 2px solid;
    border-radius: 5px;
    padding: 3px 7px;
    margin: 1px 3px;
    color: white;
    white-space: nowrap;
    cursor: -webkit-grab;
    cursor: grab;
}

table td p.ui-draggable-dragging {
    box-shadow: 0 3px 11px #939085;
    cursor: -webkit-grabbing;
    cursor: grabbing;
}


/* delete element in tiles */
table td p span:hover {
    color: red;
    cursor: pointer;
}

.tile {
    box-shadow: 0 0 3px gray;
}

.tile_name {
    background: #60BADF;
}

.tile_name:nth-of-type(1) {
    height: 90%;
    width: 90%;
    max-height: 40px;
    max-width: 300px;
    line-height: 30px;
    background: #60BADF;
    min-height: 40px;
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
}

.tile_name:hover, .tile_name:nth-of-type(2) {
    box-shadow: 0 3px 11px #939085;
}

.tile_prefer {
    background: #6AD5A2;
}

.tile_avoid {
    background: #FDD487;
    background: #F39354;
}

.tile_prefer_pinned {
    /*todo*/
}

.tile_prefer_banned {
    /*todo*/
}

.tile_avoid_pinned {
    /*todo*/
}

.tile_avoid_banned {
    /*todo*/
}

table td p span:after {
    font-family: FontAwesome;
    content: '\00a0\00a0\f00d';
}

/*actual input box */
#add_student_row {
    text-align: center;
    content-align: center;
    width: 90%;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    border-radius: 10px;
}

table th textarea {
    display:inline-block;
    /* text-align: center; */
    /* vertical-align: middle; */
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    font: 18px Raleway;
    height: 5em;
    resize: none;
}

/* Make the textarea larger when it's the only thing. */
table th:nth-of-type(1) th textarea {
    height: 40ex;
}
/* Then only slightly shrink it for the first four students. */
table th:nth-of-type(2) th textarea {
    height: 16ex;
}
table th:nth-of-type(3) th textarea {
    height: 12ex;
}
table th:nth-of-type(4) th textarea {
    height: 8ex;
}

/*CLASS NAME INPUT BOX*/ 
#classname_row {
    text-align: center;
    align-content: center;
    padding-bottom: 5%;
    padding-top: 5%;
    border-top-style:hidden;
    border-left-style:hidden;
    border-right-style:hidden;
}

#classname_input {
    font: 36px Raleway;
    border-radius: 5px;
    border-color: none;
    font-weight: bold;
    align-content: center;
    text-align:center;
    color: #4C5365;
    outline: none;
    border: 1px #EFEDE7;
    -webkit-transition: all 0.10s ease-in-out;
    -moz-transition: all 0.10s ease-in-out;
    -ms-transition: all 0.10s ease-in-out;
    -o-transition: all 0.10s ease-in-out;
}

/* group'em button row */
#button_row {
    text-align: center;
    border-style: hidden;
    white-space: nowrap;
    align-content: bottom;
    height: 4em;
}

/*group'em button containers (for sizing and positioning)*/
/*goal for positioning is:
/[groupem_button, group_size_input, [increment_button; decrement_button]]*/
#control_container {
    margin: auto;
    vertical-align: bottom;
    width: 100%;
    height: 80px;
    position: relative;
    bottom: 0%;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#button_container {
    display:inline-block;
    vertical-align: middle;
    height: 95%;
}

#group_size_container {
    display:inline-block;
    vertical-align: middle;
    height: 95%;
}

#increment_container {
    display: inline-block;
    width: 30px;
    height: 100%;
    vertical-align: middle;
}

#increase_button_container {
    display: block;
    height: 45%;
    padding-top: 10%;
    padding-bottom: 5%;
    vertical-align: top;
}

#decrease_button_container{
    display: block;
    height: 45%;
    padding-bottom: 10%;
    padding-top: 5%;
    vertical-align: bottom;
}

/*group'em button objects for content and behavior */
#groupem_button {
    text-align: center;
    height: 100%;
    width: 200px;
    font: 28px Raleway;
    background-color: #4C5365;
    color: white;
    border-radius: 5px;
    border-width: 0px;
    pointer-events: all;
}

.control_button:focus, .control_button:active, .control_button:hover {
    box-shadow: 0 0 5px #f9efec;
    padding: 0px;
    margin: 0px;
    outline: none;
    color: #F39354;
    background: #FED587;
}

/*#groupem_button:before {
    font-family: FontAwesome;
    content: '\f0c0 \00a0';
}*/


#groupem_button[disabled], #groupem_button[disabled]:hover{
    /*cursor: not-allowed;*/
    opacity: 0.30;
    background-color: #4C5365;
    color: white;
}

/*group_size*/
#group_size_input {
    -webkit-transition: all 0.10s ease-in-out;
    -moz-transition: all 0.10s ease-in-out;
    -ms-transition: all 0.10s ease-in-out;
    -o-transition: all 0.10s ease-in-out;
    display: block;
    font: 32px Raleway;
    text-align: center;
    position:relative;
    width: 80px;
    border-radius: 5px;
    height:100%;
    bottom: 0%;
    background-color: white;
    border: 3px solid #BCBAB4;
    color: #4C5365;
    outline: none;
}


input[type=number]:{ 
    -webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button:focus  input[type=number]::-webkit-inner-spin-button:hover{ 
    /*-webkit-appearance: none;*/
    cursor:pointer;
    display:block;
    width:20px;
    padding: 0px;
    margin: 0px;
    color: #333;
    text-align:right;
    position:relative;
}    


/*increments*/
.increment_button {
    display: block;
    font-family: FontAwesome;
    font-size: 20px;
    border-radius: 5px;
    background-color: #4C5365;
    border-width: 0px;
    border-color: white;
    pointer-events: all;
    text-align: center;
    width: 100%;
    height: 100%;
    color: white;
}

#increase_group_size:before {
    content: '\f067';
}

#decrease_group_size:before {
    content: '\f068';
}

/*FOCUS EFFECTS FOR TEXT INPUT ELEMENTS */
input[type=text], textarea {
  -webkit-transition: all 0.10s ease-in-out;
  -moz-transition: all 0.10s ease-in-out;
  -ms-transition: all 0.10s ease-in-out;
  -o-transition: all 0.10s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 3px dashed #BCBAB4;
  vertical-align: middle;
}

input[type=text]:focus {
  /*border: 3px solid #BCBAB4; */
/*box-shadow: 0 0 4px #BCBAB4;*/
  /*border: 3px solid #CC99FF;*/
  /*border: 0px;*/
  box-shadow: 0 0 5px #BCBAB4;
  background: #f9efec;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
}


textarea:focus {
  /*border: 3px solid #BCBAB4; */
/*box-shadow: 0 0 4px #BCBAB4;*/
  /*border: 3px solid #CC99FF;*/
  border: none;
  box-shadow: 0 0 5px #BCBAB4;
  background: #f9efec;
  position: relative;
}

#group_size_input:focus {
    -webkit-appearance:none;
  border: 0px;
  box-shadow: 0 0 5px #BCBAB4; 
  background: #f9efec;
  /*padding: 3px 0px 3px 3px;*/
  /*margin: 5px 1px 3px 0px;*/
}
