/**
 * Color Palette 
 * SublimeText users: get Color Highlighter to see these inline
 *
 * users: #60BADF
 * prefer: #6AD5A2
 * avoid: #F39354;
 * text: #4C5365;
 * background: #4C5365;
 * background (active): #6E7891;
 * greyed out text: #A9A9A9;
 * shadow for drag: #939085
 * input-field active: #f9efec
 * hover background: #FED587;
 * hover text: #F39354
 *
 * useful colors for other things:
 * #DFB0EA
 * #818AAA
 *
 */

body, html {
  font: 28px;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 100%;
}

#walkthrough-content {
    display: none;
}

.container {
  width: 100%;
  height: 100%;
}

.emptyclassroom #button_row,
.emptyclassroom .heading_row,
.emptyclassroom #link_to_group_view {
  opacity: 0.1;
}
.emptyclassroom #link_to_group_view:hover {
  background: none;
}


table {
    margin: auto;
    width: 80%;
    border-collapse: collapse;
    border-left: 1px solid #BCB8AD;
    border-right: 1px solid #BCB8AD;
    border-bottom: 1px solid #BCB8AD;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

/*TABLE HEADERS*/
table th {
    text-align: center;
    content-align: center;
    font-weight: bold;
    font-size: 28px;
    text-transform: lowercase;
    white-space: nowrap;

    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

table th:hover {
    cursor: default;
}

table th.student_name {
    width: 30%;
    color: #60BADF;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom: 1px solid #BCB8AD;
    padding-bottom: 0px;
    /*visibility:hidden;*/
}

table td.candrop.pair_with {
    box-shadow: 0 0 10px rgb(106, 213, 162);
    opacity: 0.999;
    z-index: 1;
    background: none;
}
table td.candrop.dont_pair_with {
    box-shadow: 0 0 10px rgb(243, 147, 84);
    opacity: 0.999;
    z-index: 1;
    background: none;
}

table th.pair_with {
    width: 25%;
    color: #6AD5A2;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom: 1px solid #BCB8AD;
    padding-bottom: 0px;
    
}

.hideprefs table .pair_with {
    display : none;
}


table th.dont_pair_with  {
    width: 25%;
    color: #F39354;
    font-weight: bold;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom: 1px solid #BCB8AD;
    /*visibility:hidden;*/
}
.hideprefs table .dont_pair_with {
    display : none;
}

table th.remove {
    width: 12%;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom: 1px solid #BCB8AD;
}


/*TABLE ROWS */
table tr {
    height: 8ex;
}

.mediumclassroom table tr {
    height: auto;
}

/*TABLE CELLS*/
table td {
    width: 38%;
    vertical-align: top;
    border: 1px solid #BCB8AD;
    padding: 2px 2px;
    background: #F9F7F1;
    color: #00838F;
}

table td.student_name {
    width: 30%;
    text-align: center;
    vertical-align: middle;
}

table td.remove {
    width: 12%;
    font-size:18px;
    vertical-align: middle;
    text-align: center;
/*    background: #F39354;
    background: #DBD8D3;
    background: #f4efe1;
    background: #F47D31;
    background: #DDDDDA;
    background: #F39354;
    background: #D0CEC8;
    background: #DBD9D3;
    background: #f2eee3;*/
    background: #EAE6DB;
    color: #FED587;
    color: white;
    color: #3F3C36;
}

table td.remove:hover {
    color: #F39354;
    background: #FED587;
    cursor: pointer;
}

table .remove:before {
    font-family: FontAwesome;
    font-size: 18px;
    content: '\f014';
}

table th.remove {
    color: gainsboro;
    font-weight: normal;
    padding: 7px 8px 0 8px;
}

/*TILES */
table td p .fa-grip:before {
    font-family: FontAwesome;
    font-size: 13px;
    /*content: "\f142 \202F \f142 \202F \f142";*/
    color: white;
    padding-right: 8px;
    cursor: -webkit-grab;
    cursor: grab;
}

table td p {
    display: inline-block;
    border: 2px solid;
    border-radius: 5px;
    padding: 3px 7px;
    margin: 1px 3px;
    color: white;
    white-space: nowrap;
    cursor: -webkit-grab;
    cursor: grab;
}

table td p.ui-draggable-dragging {
    box-shadow: 0 3px 11px #939085;
    cursor: -webkit-grabbing;
    cursor: grabbing;
}


/* delete element in tiles */
table td p span:hover {
    color: red;
    cursor: pointer;
}

.tile {
    box-shadow: 0 0 3px gray;
}

.tile_name {
    background: #60BADF;
}

.tile_name:nth-of-type(1) {
    width: 90%;
    max-width: 300px;
    line-height: 30px;
    background: #60BADF;
    height: 40px;
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
}

.largeclassroom .tile_name:nth-of-type(1),
.largeclassroom table td p {
    height: 25px;
    font-size: medium;
    line-height: 1;
    box-sizing: border-box;
    vertical-align: middle;
}
.largeclassroom table td p span {
    font-size: 90%;
}
.largeclassroom table td {
    padding: 0 2px;
}

.tile_name:hover, .tile_name:nth-of-type(2) {
    box-shadow: 0 3px 11px #939085;
}

.tile_prefer {
    background: #6AD5A2;
}

.tile_avoid {
    background: #FDD487;
    background: #F39354;
}

.tile_prefer_pinned {
    /*todo*/
}

.tile_prefer_banned {
    /*todo*/
}

.tile_avoid_pinned {
    /*todo*/
}

.tile_avoid_banned {
    /*todo*/
}

table td p span:after {
    font-family: FontAwesome;
    content: '\00a0\00a0\f00d';
}

/*actual input box */
#add_student_row {
    text-align: center;
    content-align: center;
    width: 90%;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    border-radius: 10px;
}

#add_student_box {
    display:inline-block;
    /* text-align: center; */
    /* vertical-align: middle; */
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    font: 18px Raleway;
    height: 5em;
    resize: none;
}

.emptyclassroom #add_student_box {
    height: 20em;
}

/* Make the textarea larger when it's the only thing. */
table th:nth-of-type(1) th textarea {
    height: 40ex;
}
/* Then only slightly shrink it for the first four students. */
table th:nth-of-type(2) th textarea {
    height: 16ex;
}
table th:nth-of-type(3) th textarea {
    height: 12ex;
}
table th:nth-of-type(4) th textarea {
    height: 8ex;
}

/*CLASS NAME INPUT BOX*/ 
#classname_row {
    text-align: center;
    align-content: center;
    padding-bottom: 5%;
    padding-top: 5%;
    border-top-style:hidden;
    border-left-style:hidden;
    border-right-style:hidden;
}

#classname_input {
    font: 36px Raleway;
    border-radius: 5px;
    border-color: none;
    font-weight: bold;
    align-content: center;
    text-align:center;
    color: #4C5365;
    outline: none;
    /*visibility:hidden;*/
    border: 1px #EFEDE7;
    -webkit-transition: all 0.10s ease-in-out;
    -moz-transition: all 0.10s ease-in-out;
    -ms-transition: all 0.10s ease-in-out;
    -o-transition: all 0.10s ease-in-out;
}

/* group'em button row */
#button_row {
    text-align: center;
    border-style: hidden;
    white-space: nowrap;
    align-content: bottom;
    height: 4em;
}

/*group'em button containers (for sizing and positioning)*/
/*goal for positioning is:
/[groupem_button, group_size_input, [increment_button; decrement_button]]*/
#control_container {
    margin: auto;
    vertical-align: bottom;
    width: 100%;
    height: 80px;
    position: relative;
    bottom: 0%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    /*visibility:hidden;*/
}

#button_container {
    display:inline-block;
    vertical-align: middle;
    height: 95%;
    /*visibility:hidden;*/
}

#group_size_container {
    display: inline-block;
    vertical-align: top;
    height: 95%;
    width: 80px;
    border-radius: 5px;
    border: 3px solid #BCBAB4;
}

#increment_container {
    display: inline-block;
    width: 30px;
    height: 100%;
    vertical-align: middle;
}

#increase_button_container {
    display: block;
    height: 45%;
    padding-top: 10%;
    padding-bottom: 5%;
    vertical-align: top;
}

#decrease_button_container{
    display: block;
    height: 45%;
    padding-bottom: 10%;
    padding-top: 5%;
    vertical-align: bottom;
}

/*justify-content:center;;width:80px;height:80px;*/


/*group'em button objects for content and behavior */
#groupem_button {
    text-align: center;
    height: 100%;
    width: 200px;
    font: 28px Raleway;
    background-color: #4C5365;
    color: white;
    border-radius: 5px;
    border-width: 0px;
    pointer-events: all;
}

.control_button:focus, .control_button:active {
    box-shadow: 0 0 5px #f9efec;
    padding: 0px;
    margin: 0px;
    outline: none;
    color: #F39354;
    background: #FED587;
}

#groupem_button[disabled], #groupem_button[disabled]:hover{
    /*cursor: not-allowed;*/
    opacity: 0.30;
    background-color: #4C5365;
    color: white;
}

#groupem_button:hover, .control_button:hover{
    background-color: #F39354;
    color: #F39354;
    background: #FED587;
}

/* GROUP SIZE */
.group_size_icon_container {
    width: 100%;
}

.group_size_icon {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-family: FontAwesome;
    font-size: 28px;
    color: #4C5365;
    white-space: normal;
    word-wrap: break-word;
    width:80%;
    height: 100%;
}

#group_size_icon_nx_number {
    display: inline-block;
    line-height: 100%;
    font-family: Raleway;
    font-size: 28px;
    color: #4C5365;
}

#group_size_icon_1x, #group_size_icon_2x{
    margin-top: 30%;
}

#group_size_icon_3x, #group_size_icon_4x{
    padding-top: 15%;
}


/*if we want to allow for text input into group size*/

/*input[type=number]:{ 
    -webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button:focus  input[type=number]::-webkit-inner-spin-button:hover{ 
    -webkit-appearance: none;
    cursor:pointer;
    display:block;
    width:20px;
    padding: 0px;
    margin: 0px;
    color: #333;
    text-align:right;
    position:relative;
    }    */


/*#group_size_input {
    -webkit-transition: all 0.10s ease-in-out;
    -moz-transition: all 0.10s ease-in-out;
    -ms-transition: all 0.10s ease-in-out;
    -o-transition: all 0.10s ease-in-out;
    font: 32px Raleway;
    font-weight: bold;
    position:relative;
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0px;
    height:100%;
    bottom: 0%;
    background-color: white;
    color: #4C5365;
    outline: none;
}
*/


/*increments*/
.increment_button {
  display: block;
  font-family: FontAwesome;
  font-size: 20px;
  border-radius: 5px;
  background-color: #4C5365;
  border-width: 0px;
  border-color: white;
  pointer-events: all;
  text-align: center;
  width: 100%;
  height: 100%;
  color: white;
}

#increase_group_size:before {
    content: '\f067';
}

#decrease_group_size:before {
    content: '\f068';
}

/*.increment_button:after {
    font-size: 18px;
    content: '\f007';
    }*/

/*FOCUS EFFECTS FOR TEXT INPUT ELEMENTS */
input[type=text], textarea {
      -webkit-transition: all 0.10s ease-in-out;
      -moz-transition: all 0.10s ease-in-out;
      -ms-transition: all 0.10s ease-in-out;
      -o-transition: all 0.10s ease-in-out;
      outline: none;
      /* padding: 3px 0px 3px 3px; */
      /* margin: 5px 1px 3px 0px; */
      border: 3px solid #BCBAB4;
      vertical-align: middle;
  }

  input[type=text]:focus {
      /*border: 3px solid #BCBAB4; */
      /*box-shadow: 0 0 4px #BCBAB4;*/
      /*border: 3px solid #CC99FF;*/
      /*border: 0px;*/
      box-shadow: 0 0 5px #BCBAB4;
      background: #f9efec;
      /*padding: 3px 0px 3px 3px;*/
      /*margin: 5px 1px 3px 0px;*/
  }


  textarea:focus {
      /*border: 3px solid #BCBAB4; */
      /*box-shadow: 0 0 4px #BCBAB4;*/
      /*border: 3px solid #CC99FF;*/
      border: 3px solid gray;
      box-shadow: 0 0 5px #BCBAB4;
      background: white;
      position: relative;
  }

  #group_size_input:focus {
    -webkit-appearance:none;
    border: 0px;
    box-shadow: 0 0 5px #BCBAB4; 
    background: #f9efec;
    /*padding: 3px 0px 3px 3px;*/
    /*margin: 5px 1px 3px 0px;*/
}
