body, html {
  font: 28px;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 100%;
}

table {
    margin: auto;
    width: 80%;
    border-collapse: collapse;
    border-left: 1px solid #BCB8AD;
    border-right: 1px solid #BCB8AD;
    border-bottom: 1px solid #BCB8AD;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

/*TABLE HEADERS*/
table th {
    text-align: center;
    content-align: center;
    font-weight: bold;
    font-size: 20px;
    text-transform: lowercase;
    white-space: nowrap;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

table th:hover {
    cursor: default;
}

table th.student_name {
    width: 30%;
    color: #60BADF;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom: 1px solid #BCB8AD;
    padding-bottom: 0px;
}

table th.pair_with {
    width: 25%;
    color: #6AD5A2;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom: 1px solid #BCB8AD;
    padding-bottom: 0px;
}

table th.dont_pair_with  {
    width: 25%;
    color: #F39354;
    font-weight: bold;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom: 1px solid #BCB8AD;
}

table th.remove {
    width: 10%;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom: 1px solid #BCB8AD;
}

/*TABLE ROWS */
table tr {
    height: 8ex;
}

/*TABLE CELLS*/
table td {
    width: 38%;
    vertical-align: top;
    border: 1px solid #BCB8AD;
    padding: 2px 2px;
    background: #F9F7F1;
    color: #00838F;
}

table td.student_name {
    width: 30%;
    text-align: center;
    vertical-align: middle;
}

table td.remove {
    width: 10%;
    vertical-align: middle;
    text-align: center;
/*    background: #F39354;
    background: #DBD8D3;
    background: #f4efe1;
    background: #F47D31;
    background: #DDDDDA;
    background: #F39354;
    background: #D0CEC8;
    background: #DBD9D3;
    background: #f2eee3;*/
    background: #EAE6DB;
    color: #FED587;
    color: white;
    color: #4C5365;
    color: #3F3C36;
    /*background: #4C5365;
    color: #FED587;*/
}

table td.remove:hover {
    color: #F39354;
    background: #FED587;
    cursor: pointer;
}

table td.remove:before {
    font-family: FontAwesome;
    font-size: 22px;
    content: '\f014';
}

/*TILES */
table td p .fa-grip:before {
    font-family: FontAwesome;
    font-size: 13px;
    /*content: "\f142 \202F \f142 \202F \f142";*/
    color: white;
    padding-right: 8px;
    cursor: -webkit-grab;
}

table td p {
    display: inline-block;
    border: 2px solid;
    border-radius: 5px;
    padding: 3px 7px;
    margin: 1px 3px;
    color: white;
    white-space: nowrap;
    cursor: -webkit-grab;
}

/* delete element in tiles */
table td p span:hover {
    color: red;
    cursor: pointer;
}

.tile {
    box-shadow: 0 0 3px gray;
}

.tile_name {
    height: 90%;
    width: 90%;
    max-height: 40px;
    max-width: 300px;
    line-height:40px;
    background: #60BADF;
    min-height: 40px;
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
}

.tile_prefer {
    background: #6AD5A2;
}

.tile_avoid {
    background: #FDD487;
    background: #F39354;
}

.tile_prefer_pinned {
    /*todo*/
}

.tile_prefer_banned {
    /*todo*/
}

.tile_avoid_pinned {
    /*todo*/
}

.tile_avoid_banned {
    /*todo*/
}

table td p span:after {
    font-family: FontAwesome;
    content: '\00a0\00a0\f00d';
}

/*actual input box */
#add_student_row {
    text-align: center;
    content-align: center;
    width: 90%;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    border-radius: 10px;
}

table th textarea {
    display:inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    width: 100%;
    font: 18px Raleway;
    height: 5em;
    resize: none;
}

/* Make the textarea larger when it's the only thing. */
table th:nth-of-type(1) th textarea {
    height: 40ex;
}
/* Then only slightly shrink it for the first four students. */
table th:nth-of-type(2) th textarea {
    height: 16ex;
}
table th:nth-of-type(3) th textarea {
    height: 12ex;
}
table th:nth-of-type(4) th textarea {
    height: 8ex;
}

/*HIGHLIGHTING FOR CLASSNAME/NAME INPUT*/
input[type=text], textarea {
  -webkit-transition: all 0.10s ease-in-out;
  -moz-transition: all 0.10s ease-in-out;
  -ms-transition: all 0.10s ease-in-out;
  -o-transition: all 0.10s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 3px dashed #BCBAB4;
}

input[type=text]:focus, textarea:focus {
  border: 3px solid #BCBAB4; 
  box-shadow: 0 0 4px #BCBAB4;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
}

/*CLASS NAME INPUT BOX*/ 
#classname_row {
    text-align: center;
    align-content: center;
    padding-bottom: 5%;
    padding-top: 5%;
    border-top-style:hidden;
    border-left-style:hidden;
    border-right-style:hidden;
}

#classname_input {
    font: 36px Raleway;
    border-radius: 5px;
    border-color: none;
    font-weight: bold;
    align-content: center;
    text-align:center;
    color: #4C5365;
    outline: none;
    border: 1px #EFEDE7;
    -webkit-transition: all 0.10s ease-in-out;
    -moz-transition: all 0.10s ease-in-out;
    -ms-transition: all 0.10s ease-in-out;
    -o-transition: all 0.10s ease-in-out;
}

/* group'em button row */
#button_row {
    text-align: center;
    border-style: hidden;
    white-space: nowrap;
    align-content: bottom;
    height: 4em;
}

/*group'em button*/
#button_container {
    vertical-align: bottom;
    width: 100%;
    height: 4em;
    position: relative;
    bottom: 0%;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#groupem_container {
    border: 0px;
    display:inline-block;
    vertical-align: bottom;
}

#group_size_container {
    border: 0px;
    display:inline-block;
    vertical-align: bottom;
    color: white;
    padding: 0px;
}

#increment_container {
    border: 0px;
    width: 30px;
    height: 100%;
    display: inline-block;
    vertical-align: bottom;
    font: FontAwesome 20px;
}

#increase_button_container {
    display: block;
    margin: 0px;
    height: 50%;
    vertical-align: top;
    
}

#decrease_button_container{
    display: block;
    position:relative;
    margin: 0px;
    height:50%;
}

.increment_button {
    display: block;
    border-radius:5px;
    font-size: 20px;
    background-color: #4C5365;
    border-width: 0px;
    border-color: white;
    pointer-events: all;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    color: white;
}

.increment_button:focus {
    border-color: white;
    pointer-events: all;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    color: white;
}

#increase_group_size:before {
    font-family: FontAwesome;
    /*content: '\f055';*/
    content: '\f067';
}

#decrease_group_size:before {
    font-family: FontAwesome;
    /*content: '\f055';*/
    content: '\f068';
}

#groupem_button {
    display: block;
    text-align: center;
    height: 100%;
    width: 200px;
    font: 28px Raleway;
    background-color: #4C5365;
    color: white;
    border-radius: 5px;
    border-width: 0px;
    pointer-events: all;
}

#group_size_input {
    display: block;
    font: 40px Raleway;
    text-align: center;
    position:relative;
    width: 80px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-width: 0px;
    border-radius: 5px;
    height:100%;
    bottom: 0%;
    background-color: #4C5365;
}


#groupem_button:hover{
    background-color: #F39354;
    color: #F39354;
    background: #FED587;
}

#groupem_button[disabled], groupem_button[disabled]:hover{
    cursor:not-allowed;
    opacity: 0.30;
    background-color: #4C5365;
    color: white;
}



